.bio {
	width: 100%;
	margin-bottom: var(--md-margin);

	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.bio__title {
	width: fit-content;
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-weight: bold;
	font-size: var(--xl-text);
}

.bio__row {
	display: flex;
	align-items: center;
	gap: var(--normal-gap);

	font-size: var(--md-text);
	text-align: justify;
}

.bio__row__year {
	color: var(--light-accent);
	font-size: var(--lg-text);
}
