.contact {
	width: 100%;
	margin-bottom: var(--md-margin);

	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.contact__title {
	width: fit-content;
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-weight: bold;
	font-size: var(--xl-text);
}

.contact__info {
	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.contact__info__text {
	display: flex;
	flex-direction: column;
	gap: var(--small-gap);

	font-size: var(--lg-text);
	line-height: 1.5;
}

.contact__info__links {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: var(--normal-gap);
}

.social__link {
	font-size: var(--xl-text);
	color: var(--light-accent);
}

.social__link:hover {
	color: var(--link);
}
