.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--small-gap);

	margin-top: var(--sm-margin);
	padding-bottom: 2em;
}

.footer__text {
	font-size: var(--md-text);
	letter-spacing: var(--md-spacing);
}
