.intro {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--small-gap);
}

.intro__top {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--normal-gap);
}

.intro__text {
	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);

	font-size: var(--lg-text);
	line-height: 1.5;
	text-align: start;
}

.intro__text span {
	width: fit-content;
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-weight: bold;
	font-size: var(--xl-text);

	animation: enter-up 0.5s ease forwards;
	animation-delay: 0.5s;

	opacity: 0;
}

.intro__text p {
	animation: enter-up 0.5s ease forwards;
	animation-delay: 1s;

	opacity: 0;
}

.intro__text a {
	text-decoration: none;
	color: var(--light-accent);
}

.intro__text a:hover {
	color: var(--link);
}

.intro__image {
	width: 450px;
	border-radius: var(--card-radius);
	border: var(--simple-border);
	box-shadow: var(--simple-shadow);

	animation: enter 1s ease forwards;
	animation-delay: 2s;

	opacity: 0;
}

.intro__arrow {
	animation: enter 0.5s ease forwards, bobUpAndDown infinite 1s alternate ease-in-out;
	animation-delay: 5s;

	font-size: 5rem;
	stroke: var(--light-accent);

	opacity: 0;
}

@keyframes enter-up {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes enter {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bobUpAndDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(25px);
	}
}
