.project {
	width: 100%;
	height: 500px;

	border: var(--simple-border);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	position: relative;
	overflow: hidden;
}

.project video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.project__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	padding: 0 10%;
	background-color: rgba(0, 0, 0, 0.75);

	display: flex;
	justify-content: center;
	flex-direction: column;

	line-height: 1.75;
	opacity: 0;
	transition: 0.35s ease-in-out;
}

.project__title {
	font-size: var(--lg-text);
	font-weight: bold;

	text-align: left;
}

.project__description {
	font-size: var(--md-text);
	text-align: justify;
}

.project__title,
.project__description {
	transform: translateY(-20px);
	transition: 0.35s ease-in-out;
}

.project:hover .project__overlay {
	opacity: 1;
}

.project:hover .project__title,
.project:hover .project__description {
	transform: translateY(0);
}

.stacks {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);
}

.stacks__title {
	font-size: var(--md-text);
	letter-spacing: 2px;
}

.stacks__list {
	display: flex;
	flex-wrap: wrap;
	gap: var(--normal-gap);
}

.stacks__stack {
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-size: var(--md-text);
	font-weight: bold;
}
