.project {
	width: 100%;
	height: 600px;

	border: var(--simple-border);
	border-radius: var(--card-radius);
	box-shadow: var(--simple-shadow);

	position: relative;
	overflow: hidden;
}

.project video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

.project__overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.85);

	padding: 0 5%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--small-gap);

	line-height: var(--text-height);
	opacity: 0;
	transition: 0.35s ease-in-out;
}

.project__title {
	font-size: var(--lg-text);
	font-weight: bold;
	align-self: flex-start;
}

.project__description {
	font-size: var(--md-text);
	text-align: justify;
}

.project__title,
.project__description {
	transform: translateY(-20px);
	transition: 0.35s ease-in-out;
}

.project:hover .project__overlay,
.project:focus .project__overlay,
.project:active .project__overlay {
	opacity: 1;
}

.project:hover .project__title,
.project:hover .project__description,
.project:focus .project__title,
.project:focus .project__description,
.project:active .project__title,
.project:active .project__description {
	transform: translateY(0);
}

.info {
	width: 100%;
	margin-bottom: var(--sm-margin);

	display: flex;
	flex-direction: column;
	gap: var(--small-gap);
}

.info__title {
	font-size: var(--md-text);
	letter-spacing: var(--text-spacing);
	opacity: 0.5;
}

.info__stacks {
	display: flex;
	flex-wrap: wrap;
	gap: var(--normal-gap);
}

.info__stacks__stack {
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-size: var(--md-text);
	font-weight: bold;
}

.info__links {
	display: flex;
	justify-content: left;
	align-items: center;
	gap: var(--normal-gap);
}

.info__links__link {
	font-size: var(--md-text);
	text-decoration: none;
	color: var(--light-accent);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--small-gap);
}

.info__links__link:hover {
	color: var(--link);
}

.link__badge {
	font-size: var(--md-text);
}

@media (max-width: 767px) {
	.project {
		height: 500px;
	}
}
