.intro {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--small-gap);
}

.intro__top {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--normal-gap);
}

.intro__text {
	display: flex;
	flex-direction: column;
	gap: var(--normal-gap);

	font-size: var(--lg-text);
	line-height: var(--text-height);
	text-align: start;
}

.intro__text__title {
	width: fit-content;
	padding: var(--label-padding);
	background-color: var(--dark-accent);

	color: var(--light-accent);
	font-weight: bold;
	font-size: var(--xl-text);
}

.intro__text a {
	text-decoration: none;
	color: var(--light-accent);
}

.intro__text a:hover {
	color: var(--link);
}

.intro__image {
	width: 500px;
	border-radius: var(--card-radius);
	border: var(--simple-border);
	box-shadow: var(--simple-shadow);
}

.intro__arrow {
	font-size: 5rem;
	stroke: var(--light-accent);

	animation: bobUpAndDown infinite 1s alternate ease-in-out;
}

@keyframes bobUpAndDown {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(25px);
	}
}

/**TABLET STYLES*/
@media (min-width: 768px) and (max-width: 1199px) {
	.intro__image {
		width: 350px;
	}
}

@media (max-width: 767px) {
	.intro__text {
		align-items: center;
		gap: var(--normal-gap);

		line-height: var(--text-height);
		text-align: center;
	}

	.intro__image {
		display: none;
	}

	.intro__arrow {
		font-size: 4rem;
	}
}
